.updateForm {
    input {
        outline: none;
        background: transparent;
        border: 0;
        padding: 10px;
        margin: 10px 0;
        border-bottom: 2px solid #dee2e6;
        width: 100%;
        transition: .5s;

        &:focus {
            border-bottom: 3px solid #37e8ff;
        }
    }

}