.admin_page_top {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
}

.table th {
    text-align: center;
}

.table {
    text-align: center;
}

.btn-primary {
    background: blue;
}

.admin_page_top i {
    margin-right: 1em;
}

.fa-solid {
    cursor: pointer;
}

.fa-eye {
    color: #05e465;
}

.fa-pen-to-square {
    color: #00a8c9;
}

.fa-trash {
    color: #cf0000;
}

.table thead {
    background: #f3f3f3;
}


/*------------view----------*/

.view {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    margin: 20px auto;
}

.view p {
    font-size: 19px;
}

.viewLeft {
    width: 22%;
    text-align: center;
    padding: 20px 10px;
    overflow-x: auto;
    box-shadow: 0 0 5px 5px #ececec;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    margin: 20px 20px;
}

.viewLeft {
    >img {
        border-radius: 10px;
        border: 2px solid #000;
    }
}

.viewRight {
    width: 78%;
    padding: 10px;
    border-radius: 10px;
}

.addLeft {
    width: 50%;
}

.sub_section {
    border-bottom: 3px solid #d7d7d7;
    padding: 20px 0;
}

.addRight {
    width: 50%;
}


@media (max-width:1353px) {
    .view {
        flex-direction: column;
    }

    .viewRight {
        width: 100%;
    }

    .viewLeft {
        width: 100%;
    }
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

// -----------------Pagination

.pagination {
    // float: right;

    // width: 100%;
    // bottom: 0;
    // right: 0;
    // margin-bottom: 40px;
    // background-color: white;
    // margin: 1.5rem
}